

<section class="engine"><a rel="external" href="https://mobirise.com">top wysiwyg web site building software</a></section>
<section class="mbr-section mbr-section__container article mbr-after-navbar" id="header3-k" style="background-color: rgb(255, 255, 255); padding-top: 140px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2">2017 Liturgy Schedule</h3>
                <small class="mbr-section-subtitle">Updated on {{ SCHEDULES.LastUpdatedSchedule}}</small>
            </div>
        </div>
    </div>
</section>


<div class="row">
    <button class="btn btn-info" (click)="Edit = Edit == false ? true : false">Edit Liturgy Schedule</button>
    <div [hidden]="Edit != true">
        Please enter the password in the box below:
        <p style="color:red;" *ngIf="errorMessage!=null && errorMessage!=''">
            {{errorMessage}}
        </p>
        <p>
            <label for="password">Password</label>
            <input #textbox type="text" name="password" [(ngModel)]="SCHEDULES.Password" required />
        </p>
        <table class="mbr-table table-striped">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Serving Priest
                    </th>
                </tr>
            </thead>
            <tr *ngFor="let schedule of SCHEDULES.Schedule">
                <td>
                    <input class="form-control" [(ngModel)]="schedule.Date" type="text" />
                </td>
                <td>
                    <input class="form-control" [(ngModel)]="schedule.Time" type="text" />

                </td>
                <td>
                    <input class="form-control" [(ngModel)]="schedule.ServingPriest" type="text" />

                </td>
            </tr>

        </table>


        <button (click)="myModal.close()">Close</button>
        <button type="submit" (click)="IwantToEditLiturgySchedule(myModal)" (onSubmit)="myModal.close()">Submit</button>
    </div>
</div>
<div *ngIf="!view">
    <label for="password">Password</label>
    <input #textbox type="text" name="password" [(ngModel)]="SCHEDULES.Password" required />
</div>

<table *ngIf="view" class="mbr-table table-striped">

    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Serving Priest
            </th>
        </tr>
    </thead>
    <tr *ngFor="let schedule of SCHEDULES.Schedule">
        <td>
            {{ schedule.Date }}
        </td>
        <td>
            {{ schedule.Time }}
        </td>
        <td>
            {{ schedule.ServingPriest}}
        </td>
    </tr>

</table>









